.menu-bar {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
}

  .menu-bar ul {
    list-style: none;
    display: flex;
    margin: 8px;
    padding: 0;
  }
  
  .menu-bar li {
    margin: 0 15px;
  }
  
  .menu-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  
  